<section class="blog_w3ls py-5" id="why">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section mb-md-5 mb-4">
            <h6 class="w3ls-title-sub">About Us</h6>
            <h3 class="w3ls-title text-uppercase text-bl font-weight-bold">Why Choose Us</h3>
        </div>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <img class="card-img-bottom" src="images/blog1.jpg" alt="image">
                    </div>
                    <div class="card-body border border-top-0">
                        <div class="mb-3">
                            <h5 class="blog-title card-title m-0">Lorem ipsum dolor</h5>
                            <div class="blog_w3icon">
                                <span>
                                    Magna Kictum - loremipsum
                                </span>
                            </div>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="single.html" class="btn blog-btn mt-4">Read more</a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <img class="card-img-bottom" src="images/blog3.jpg" alt="image">
                    </div>
                    <div class="card-body border border-top-0">
                        <div class="mb-3">
                            <h5 class="blog-title card-title m-0">Sed do eiusmod</h5>
                            <div class="blog_w3icon">
                                <span>
                                    Magna Kictum - loremipsum
                                </span>
                            </div>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="single.html" class="btn blog-btn mt-4">Read more</a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <img class="card-img-bottom" src="images/blog2.jpg" alt="image">
                    </div>
                    <div class="card-body border border-top-0">
                        <div class="mb-3">
                            <h5 class="blog-title card-title m-0">Ut enim minim</h5>
                            <div class="blog_w3icon">
                                <span>
                                    Magna Kictum - loremipsum
                                </span>
                            </div>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="single.html" class="btn blog-btn mt-4">Read more</a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>