<section class="services py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="row px-lg-5">
            <div class="col-lg-6">
                <div class="d-flex services-box">
                    <span class="fa fa-ambulance" aria-hidden="true"></span>
                    <!-- .Icon ends here -->
                    <div class="service-content ml-4">
                        <h3>Emergency</h3>
                        <p class="my-3">
                            Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.
                        </p>
                    </div>
                    <!-- .Service-content ends here -->
                </div>
                <div class="d-flex services-box mt-5">
                    <span class="fa fa-user-md" aria-hidden="true"></span>
                    <!-- .Icon ends here -->
                    <div class="service-content ml-4">
                        <h3>Qualified Doctors</h3>
                        <p class="my-3">
                            Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.
                        </p>
                    </div>
                    <!-- .Service-content ends here -->
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="d-flex services-box">
                    <span class="fa fa-hospital-o" aria-hidden="true"></span>
                    <!-- .Icon ends here -->
                    <div class="service-content ml-4">
                        <h3>Operation Theater</h3>
                        <p class="my-3">
                            Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.
                        </p>
                    </div>
                    <!-- .Service-content ends here -->
                </div>
                <div class="d-flex services-box mt-5">
                    <span class="fa fa-medkit" aria-hidden="true"></span>
                    <!-- .Icon ends here -->
                    <div class="service-content ml-4">
                        <h3>Free Medicine</h3>
                        <p class="my-3">
                            Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.
                        </p>
                    </div>
                    <!-- .Service-content ends here -->
                </div>
            </div>
        </div>
    </div>
</section>